body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0.5rem 3rem;
}

#score {
  width: 400px;
  text-align: right;
  font-family: fantasy;
  font-size: 4rem;
  line-height: 7rem;
  margin: 0;
  color: #776e65;
}