body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  padding: 0.5rem 3rem;
}

#score {
  color: #776e65;
  font-family: fantasy;
  font-size: 4rem;
  line-height: 7rem;
  margin: 0;
  text-align: right;
  text-shadow: 2px 2px 4px black;
  width: calc(400px + 1rem);
}

canvas {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 16px black;
  height: 400px;
  padding: 1rem;
  width: 400px;
}
